<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Display</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Displayyyy</h1>
            <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>

        </div>

    </div>


</body>
</html>

{#        {%  for flower in flowers %}#}
{#            <h1>{{ flower.flowerName }}</h1>#}
{##}
{#            <img alt="it wont displayyyyyyyyy" src="{{ flower.img }}">#}
{##}
{#            <p>{{ flower.caption }}</p>#}
{#        {% endfor %}#}


{#<img src="media/images/{{ form.file }} " alt="what is this">#}

