{% extends 'base.html' %}


{% block content %}
    {% load static %} <!-- Prepare django to load static files -->


    <div class="card-title"><h1>Flowerify</h1></div>

    <div class="jumbotron">

        <!-- about section starts-->
        <div class="card-text" id="about">
            <h2><mark>About</mark></h2>

            <br>
            Flowerify is a web application that enables a user to input an image of a flower and verify its name. The system will
            upload, process, analyse the image, output the name and provide general care information for the identified
            flower with reference to database. The preprocessing and classification task will be undertaken
            using python Keras. The app will also assist in the maintenance and upkeep of the flower such as when
            and where to plant this flower; possible pests and diseases. The aim of the app ‘Flowerify’ is to help users
            to detect, recognise and understand flowers.
            </p>


        </div>
        <br>
    </div>

    <div class="container-fluid" id="flower">


        <h2>
            <mark>Flower</mark>
        </h2>

        <!-- start the menu. no style for the list-->
        <ul class="list-unstyled" id="myList">


            <li class="row">

                <div class="col-sm-6">


                    <!-- declare card -->
                    <div class="card sm-6 box-shadow mx-auto">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_1.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_1.flowerName }}<span class="badge badge-pill badge-danger"
                                                                               style="background-color: red;">HOT</span>
                            </h3>


                            <a target="_self" href="{% url 'daisyInformation' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>


                <!-- 2 -->
                <!-- set the menu to be half ie 6-->
                {#                <div class="col-sm-6" style="background-color: #F1CE71;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">

                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_2.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_2.flowerName }}</h3>



                            <a target="_self" href="{% url 'blanketflower' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>
                            <br>
                            <br>

                        </div><!-- end card body-->
                    </div><!-- end card-->


                </div>
            </li>
            <!-- set the menu to be half ie 6-->


            <li class="row">
                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_3.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_3.flowerName }}</h3>

                            {#								<p class="card-text">Information about flower</p>#}

                            <a target="_self" href="{% url 'buttercup' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>


                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_4.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_4.flowerName }}</h3>

                            <a target="_self" href="{% url 'carnation' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>
            </li><!-- end half -->


            <li class="row">
                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_5.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_5.flowerName }}</h3>

                            <a target="_self" href="{% url 'buttercup' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>


                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_6.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_6.flowerName }}</h3>

                            <a target="_self" href="{% url 'cornpoppy' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>
            </li><!-- end half -->


            <li class="row">
                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_7.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_7.flowerName }}</h3>

                            <a target="_self" href="{% url 'lotus' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>

                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_8.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_8.flowerName }}</h3>

                            <a target="_self" href="{% url 'marigold' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>
            </li><!-- end half -->


            <li class="row">
                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_9.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_9.flowerName }}</h3>

                            <a target="_self" href="{% url 'sunflower' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>


                {#                    <div class="col-sm-6" style="background-color: #D8C0F1;">#}
                <div class="col-sm-6">

                    <!-- declare card -->
                    <div class="card sm-6 box-shadow">
                        <!-- img at the top of the card-->
                        <img class="card-img-top mx-auto d-block" src="data:image/jpeg;base64,{{ key_10.image }}" width="50px">

                        <!-- start the card body-->
                        <div class="card-body">

                            <h3 class="card-title">{{ key_10.flowerName }}</h3>

                            <a target="_self" href="{% url 'rose' %}" class="btn btn-light"
                               role="button" style="background-color: orange;">View</a>

                            <br>
                            <br>


                        </div><!-- end card body-->
                    </div><!-- end card-->
                </div>
            </li><!-- end half -->
        </ul>
    </div>

{% endblock %}
