{% extends 'base.html' %}


{% block content %}

    <h2 class="card-title">Flower</h2>


    <div class="jumbotron">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <h2>Upload an image for classification</h2>

                <input type="file" name="document">
                <button type="submit">Upload file</button>
        </form>

            {% if url %}

                <img src="{{ url }}" class="responsive">
                <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>

                <h1><b>Name of this predicted plant: {{ name }}</b></h1>
                <h2>Accuracy in percentage: {{ percent }}%</h2>

                <h2><b>Description: </b></h2>
                <p>{{ description }}</p>

                <h2><b>Meaning: </b></h2>
                <p>{{ meaning }}</p>

                <h2><b>Care Information: </b></h2>
                <p> {{ care_information }}</p>

                <h2><b>Planting: </b></h2>
                <p> {{ planting }}</p>

                <h2><b>Facts: </b></h2>
                <p>{{ tips }}</p>


            {% endif %}
            {{ error_text }}
            {{ no_file }}

        </form>
    </div>

{% endblock %}


