
/*
    author : Buchita Gitchamnan
    Assignment topic : IceCream
*/

body
{
    height: 100%;
    font-family: "Courier New";

}
mark
{
    background-color: #D6D628;
}

.navbar
{
    /*set the background colour pink*/
    background-color: pink;
    margin-bottom: 0;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 4px;

}
.navbar li a, .navbar .navbar-brand
{
    /*change colour of the text*/
    color: #fff !important;
}


.navbar-nav li a:hover, .navbar-nav li.active a
{
    /*hovering = letters change to pink*/
    color: pink !important;
    /*when hovering over  background turns white*/
    background-color: #fff !important;
}


.navbar-default .navbar-toggle
{
    border-color: transparent;
    color: #fff !important;
}


.jum-menu
{
    background-color: lavender;
}

#pic{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#HeaderPic
{
    width: 100%;
    height: 100%;
}

.card-imag-top
{
    width: 50%;
    height: 50%;

}